stages:
  - build

variables:
  GIT_REPO_URL: "https://oauth2:${GITLAB_TOKEN}@gitlab.com/sdv8290844/myapp.git"
  CLONE_DIR: "/app/repo"

build:
  stage: build
  image: ubuntu:latest  # Utilise l'image Ubuntu officielle
  before_script:
    - apt-get update && apt-get install -y git curl ca-certificates lsb-release gnupg
  script:
    - echo "Cloning repository from ${GIT_REPO_URL}..."
    - mkdir -p ${CLONE_DIR}
    - git clone ${GIT_REPO_URL} ${CLONE_DIR}
    
    # Installation de Docker CLI
    - echo "Adding Docker repository and installing Docker CLI..."
    - install -m 0755 -d /etc/apt/keyrings
    - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
    - chmod a+r /etc/apt/keyrings/docker.gpg
    - echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable" > /etc/apt/sources.list.d/docker.list
    - apt-get update && apt-get install -y docker-ce-cli

    - echo "Docker CLI installed successfully."

    # Vérification de Docker CLI
    - docker --version
    - dockerd &   # Lance Docker Daemon en arrière-plan
    - sleep 10    # Attend que le démon démarre

    # Vérification du démon Docker
    - docker info

    # Build de l'image
    - echo "Building Docker image..."
    - docker build -t myapp:latest .
    - docker images 



  only:
    - branches
    - tags
